div#blok1_nochovna
  {
    background-color:green;
  
}
div#blok1_nochovna:hover
{
 background-color:gold;
  width:621px; 
font-size:18mm;
   
}
div#blok2_nochovna
  {
    background-color:green;
}
div#blok2_nochovna:hover
{
 background-color:silver;
    width:621px;
font-size:18mm;
}
div#blok3_nochovna
  {
    background-color:green;
 
}
div#blok3_nochovna:hover
{
 background-color:blue;
    width:621px;
  font-size:18mm;
}

<Selektor hover służy do zaznaczania elementów,
 gdy najeżdżasz na nie myszką
 Oleksandra Nochovna 14.04.2022 ->